<section class="header">
    <nav class="fixed-top">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
  <label class="logo"><img [src]="logoSrc"></label>
<ul id="Ul">
  <li><a  (click)='toHome()' routerLink='/home'>Home</a></li>
  <li><a (click)='toAbout()' routerLink='/about'>About Us</a></li>
  <li><a (click)='toContact()' routerLink='/contact' >Contact Us</a></li>
  <li><a (click)='toCovid()' routerLink='/covid19'>Covid-19</a></li> 
</ul>
  
</nav>
<hr class="w-100"> 


<div class="container">
    <div class="row">
        <div  class="col-md-7">
          <div class="sliderContent"> 
              <div class="dash">
                  <h1><em class="headline">YOUR OWN</em>
                     STOMATOLOGIST
                 </h1>
              </div>
              <div class="dashSutible" >
                  <p>Donec libero dui, dapibus non leo et, molestie faucibus risus. In fermentum tortor et posuere laoreet. Morbi pharetra velit ut varius semper. Donec accumsan et lacus at posuere.</p>
                    <button routerLink='/about' class="bt btnl">View our Team</button>
                    <button routerLink='/contact' class="bt btnr">Book A VISIT</button>
                 </div>
             </div>
        </div>
    </div>
</div>

</section>