<section class="footer">
<div class="container">
    <div class="row pt-5">
        <div class="col-md-6 col-sm-12 mLeft">
        <p class="pSize">Get in touch</p>
        <h4>Contact us now</h4>
        <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps.</p>
       <div class="row pt-5">
           <div class="col-md-6">
               <div class="row ">
                   <div  class="col-md-3 col-sm-12 ">
                    <i class="far fa-hospital fa-4x"></i>
                   </div>
                   <div class="col-md-9  col-sm-12">
                       <p >EMERGENCY CONTACT</p>
                       <span>Free call 24/7</span>
                       <br>
                       <span>+1555 6761 020</span>
                   </div>
               </div> 
           </div>
           <div class="col-md-6 ">
            <div class="row py-3 ">
                <div class="col-md-3 col-sm-12 ">
                    <i class="fas fa-h-square fa-4x"></i>
                </div>
                <div class="col-md-9  col-sm-12 ">
                    <p >HOME VISIT</p>
                    <span>Chargeable call 24/7</span>
                    <br>
                    <span>+1777 6761 050</span>
                </div>
            </div> 
           </div>
       </div>    
    </div>
        <div class="col-md-6 pt-3 ">
            <div class="row .tCenter mLeft">
                <div class="col-md-6 col-sm-12 mt-3">
                    <img class="img-fluid" [src]="footerimg" alt="footerImage">
                </div>
                <div class="col-md-6 col-sm-12 ">
                  <p class="pSize">Follow us</p>
                  <h4>Our Activity</h4>
                  <p class="py-4">Organically grow the holistic world view of innovation empowerment.</p>
                  <i class="fab fa-twitter"></i>
                  <i class="fab fa-facebook"></i>
                  <i class="fab fa-instagram"></i>
                </div>
            </div>
        </div>
    </div>
</div>

</section>