.footer
{
    background-image: url('../../assets/footerbg.jpg');
    background-attachment:fixed;
    background-position: 50% 50%;
    color: #fff;
}

.footer h4 
{
    font-family: 'Bree Serif', serif;
    font-weight: bolder;
}
.footer p 
{
    font-family: 'Merriweather', serif;
    font-size: 14px;
    width: 70%;
}
.footer .pSize 
{
    font-size: 20px;
}
.far ,.fas
{
  
   color: #005B88;
 }

.fab
{
    padding: 20px;
    background-color: #005B88;
    margin: 2px;
    border-radius: 50%;
    cursor: pointer;
}

