<section id="about" class="about">
    <div class="serv text-center py-5">
        <h2><em style="color: black;">Our</em> Doctors</h2>
    </div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 aboutDr">
            <div class="drImage">
                <img class="img-fluid" [src]="dr1Src" alt="drimage">
                <div class="overlay">
                    <i class="fas fa-search fa-5x"></i>
                </div>
            </div>
            <div class="dri">
               <div class="drOne"><i class="fas fa-teeth-open"></i></div>
               <div class="drOne"><i class="fas fa-tooth"></i></div> 
            </div>
            <div class="drbio">
                <p>Dental Surgeon</p>
                <h2>Audrey Button</h2>
                 <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                 <div class="soical">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                 </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 aboutDr">
            <div class="drImage">
                <img class="img-fluid" [src]="dr2Src" alt="drimage">
                <div class="overlay">
                    <i class="fas fa-search fa-5x"></i>
                </div>
            </div>
            <div class="dri">
               <div class="drOne"><i class="fas fa-teeth-open"></i></div>
               <div class="drOne"><i class="fas fa-tooth"></i></div> 
            </div>
            <div class="drbio">
                <p>Dental Surgeon</p>
                <h2>Emma Beckett</h2>
                 <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                 <div class="soical">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                 </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 aboutDr">
            <div class="drImage">
                <img class="img-fluid" [src]="dr3Src" alt="drimage">
                <div class="overlay">
                    <i class="fas fa-search fa-5x"></i>
                </div>
            </div>
            <div class="dri">
               <div class="drOne"><i class="fas fa-tooth"></i></div> 
            </div>
            <div class="drbio">
                <p>Dentist</p>
                <h2>Hellen Hill</h2>
                 <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                 <div class="soical">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                 </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 aboutDr">
            <div class="drImage">
                <img class="img-fluid" [src]="dr4Src" alt="drimage">
                <div class="overlay">
                    <i class="fas fa-search fa-5x"></i>
                </div>
            </div>
            <div class="dri">
               <div class="drOne"><i class="fas fa-teeth-open"></i></div>
            </div>
            <div class="drbio">
                <p>Dentist</p>
                <h2>Arianna McDonald</h2>
                 <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                 <div class="soical">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                 </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 aboutDr">
            <div class="drImage">
                <img class="img-fluid" [src]="dr1Src" alt="drimage">
                <div class="overlay">
                    <i class="fas fa-search fa-5x"></i>
                </div>
            </div>
            <div class="dri">
               <div class="drOne"><i class="fas fa-teeth-open"></i></div>
               <div class="drOne"><i class="fas fa-tooth"></i></div> 
            </div>
            <div class="drbio">
                <p>Dental Surgeon</p>
                <h2>Audrey Button</h2>
                 <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                 <div class="soical">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                 </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 aboutDr">
            <div class="drImage">
                <img class="img-fluid" [src]="dr3Src" alt="drimage">
                <div class="overlay">
                    <i class="fas fa-search fa-5x"></i>
                </div>
            </div>
            <div class="dri">
               <div class="drOne"><i class="fas fa-teeth-open"></i></div>
               <div class="drOne"><i class="fas fa-tooth"></i></div> 
            </div>
            <div class="drbio">
                <p>Dental Surgeon</p>
                <h2>Audrey Button</h2>
                 <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                 <div class="soical">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                 </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 aboutDr">
            <div class="drImage">
                <img class="img-fluid" [src]="dr1Src" alt="drimage">
                <div class="overlay">
                    <i class="fas fa-search fa-5x"></i>
                </div>
            </div>
            <div class="dri">
               <div class="drOne"><i class="fas fa-teeth-open"></i></div>
               <div class="drOne"><i class="fas fa-tooth"></i></div> 
            </div>
            <div class="drbio">
                <p>Dental Surgeon</p>
                <h2>Audrey Button</h2>
                 <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                 <div class="soical">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                 </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 aboutDr">
            <div class="drImage">
                <img class="img-fluid" [src]="dr2Src" alt="drimage">
                <div class="overlay">
                    <i class="fas fa-search fa-5x"></i>
                </div>
            </div>
            <div class="dri">
               <div class="drOne"><i class="fas fa-teeth-open"></i></div>
               <div class="drOne"><i class="fas fa-tooth"></i></div> 
            </div>
            <div class="drbio">
                <p>Dental Surgeon</p>
                <h2>Audrey Button</h2>
                 <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                 <div class="soical">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                 </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 aboutDr">
            <div class="drImage">
                <img class="img-fluid" [src]="dr4Src" alt="drimage">
                <div class="overlay">
                    <i class="fas fa-search fa-5x"></i>
                </div>
            </div>
            <div class="dri">
               <div class="drOne"><i class="fas fa-teeth-open"></i></div>
               <div class="drOne"><i class="fas fa-tooth"></i></div> 
            </div>
            <div class="drbio">
                <p>Dental Surgeon</p>
                <h2>Audrey Button</h2>
                 <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                 <div class="soical">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                 </div>
            </div>
        </div>


    </div>
</div>


</section>
