<section id="home" class="home">
<div class="ourduties">
    <div class="prot">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="itemContent">
                <div class="tooth">
                   <span><i class="fas fa-tooth fa-2x"></i></span> 
                </div>
                <div class="headerDutis">
                   <p> Best dental surgeons</p>
                   <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, quod. </span>
                </div>
                <button class="bt">Read More</button>
            </div>
        </div>
  
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="itemContent bgdark">
                <div class="tooth">
                   <span><i class="fas fa-teeth-open"></i></span> 
                </div>
                <div class="headerDutis">
                   <p> Quick examination</p>
                   <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, quod. </span>
                </div>
                <button class="bt">Read More</button>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="itemContent">
                <div class="tooth">
                   <span><i class="fas fa-tooth fa-2x"></i></span> 
                </div>
                <div class="headerDutis">
                   <p> Painless procedures</p>
                   <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, quod. </span>
                </div>
                <button class="bt">Read More</button>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class=" bgdark ">
                <div class="tooth">
                   <span><i class="fas fa-teeth-open"></i></span> 
                </div>
                <div class="headerDutis">
                   <p> Book now</p>
                   <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, quod. </span>
                </div>
              <select class="select">
                <option >CHOOSE A DOCTOR</option> 
                  <option value="jenna wilson">jenna wilson</option> 
                  <option value="Audery button">Audery button</option> 
                  <option value="emma blecket">emma blecket</option> 
                  <option value="jenna wilson">jenna wilson</option> 
               </select>
               
            </div>
        </div>
   </div>
 
   <div class="row mt-5">
       <div class="col-md-6 col-sm-12 mt-5">
         <div class="drname">
           <h3>Dr Jenna Wilson</h3>  
           <hr/>
           <h2>YOUR DENTAL TEAM</h2>
         </div>
         <p class="drp">Dr. Jenna Wilson is is dedicated to providing her patients with the most beautiful smile together with the best dental protection available nowadays. Dr Jenna non malesuada erat, id consequat nunc. Nulla fermentum ipsum eget tortor laoreet varius.</p>
         <img [src]="drSign" alt="drSign">
        </div>
   
       <div class="col-md-6 col-sm-12">
            <div>
                <img class="img-fluid" [src]="drImg">
            </div>
        </div>
   </div>

</div>
</div>
</section>
<div class="ourServices py-5">
       <div class="serv text-center">
           <span>The best reference</span>
           <hr/>
           <h2><em style="color: black;">OUR</em> SERVCIES</h2>
           <p>Quisque posuere rhoncus erat, sit amet aliquet augue. Donec eros massa, gravida ac lectus et, pharetra interdum lectus.</p>
       </div>

      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-12">
                 
                <div class="serImg">
                   <img [src]="ser1" alt="servicesImg"> 
                </div>  
                <div class="servDesc">
                    <div class="servIcon">
                        <i class="fas fa-laugh fa-3x"></i>
                    </div>
                     <p>Teeth</p>
                     <h2>DENTAL SERVICES</h2>
                     <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis mi faucibus risus auctor scelerisque.</span>
                </div>
              </div>

              <div class="col-lg-3  col-md-6 col-sm-12">
                <div class="serImg">
                   <img [src]="ser2" alt="servicesImg"> 
                </div>  
                <div class="servDesc">
                    <div class="servIcon">
                        <i class="fas fa-laugh fa-3x"></i>
                    </div>
                     <p>If you lost yours</p>
                     <h2>IMPLANTS</h2>
                     <span>Nullam eleifend lectus a tortor interdum, non sodales ante vehicula. Proin consequat, at commodo.</span>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="serImg">
                   <img [src]="ser3" alt="servicesImg"> 
                </div>  
                <div class="servDesc">
                    <div class="servIcon">
                        <i class="fas fa-laugh fa-3x"></i>
                    </div>
                     <p>Cosmetic</p>
                     <h2>DENTISTRY</h2>
                     <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis mi faucibus risus auctor scelerisque.</span>
                </div>
              </div>


              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="serImg">
                   <img [src]="ser4" alt="servicesImg"> 
                </div>  
                <div class="servDesc">
                    <div class="servIcon">
                        <i class="fas fa-laugh fa-3x"></i>
                    </div>
                     <p>The best solution</p>
                     <h2>DENTAL BRIDGES</h2>
                     <span>Vestibulum volutpat, nunc vitae tempus efficitur, sapien quam tristique nunc, in pulvinar sapien sem et massa.</span>
                </div>
              </div>



              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                <div class="serImg">
                   <img [src]="ser5" alt="servicesImg"> 
                </div>  
                <div class="servDesc">
                    <div class="servIcon">
                        <i class="fas fa-laugh fa-3x"></i>
                    </div>
                     <p>Painless fixes</p>
                     <h2>CROWNS</h2>
                     <span>Integer ullamcorper odio vitae nibh dapibus, id mollis quam eleifend. Fusce finibus vestibulum odio vitae malesuada.</span>
                </div>
              </div>


              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                <div class="serImg">
                   <img [src]="ser6" alt="servicesImg"> 
                </div>  
                <div class="servDesc">
                    <div class="servIcon">
                        <i class="fas fa-laugh fa-3x"></i>
                    </div>
                     <p>Line them all up</p>
                     <h2>INVISALIGN</h2>
                     <span>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi a pulvinar leo.</span>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                <div class="serImg">
                   <img [src]="ser7" alt="servicesImg"> 
                </div>  
                <div class="servDesc">
                    <div class="servIcon">
                        <i class="fas fa-laugh fa-3x"></i>
                    </div>
                     <p>Porcelain</p>
                     <h2>VENEERS</h2>
                     <span>Praesent porta lacus a viverra tempus. Proin maximus felis ac risus aliquam maximus. Pellentesque quis orci tempus.</span>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                <div class="serImg">
                   <img [src]="ser8" alt="servicesImg"> 
                </div>  
                <div class="servDesc">
                    <div class="servIcon">
                        <i class="fas fa-laugh fa-3x"></i>
                    </div>
                     <p>Beautify your smile</p>
                     <h2>TEETH WHITENING</h2>
                     <span>Fusce tempus suscipit auctor. Sed at nulla at nisi pretium tincidunt. Nullam mattis arcu porttitor, dictum metus sed.</span>
                </div>
              </div>





          </div>
      </div> 

</div>




